.player-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(240,241,165, 0.6);
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 20px;
    position: relative;
    margin: 30px 0;
    z-index: 10;

    visibility: hidden;
}

.player-cd {
    visibility: hidden;
    width: 10px;
    height: 50px;
}

.img-container {
    position: relative;
    width: 80px;
  }
  
  .img-container::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 58%;
    left: 37%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    /* width: inherit; */
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  
    animation-play-state: paused;
  }
  
  .player-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  

.player-controller {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
  
.action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 4px;
}
  
.action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}
  
.action-btn:focus {
    outline: 0;
}