:root {
    --gameMachine-bg-color: whitesmoke;
    --button-bg-color: #9d00ff;

    --text-light-color: #000000;
    --text-dark-color: #ffffff;

    --uaena-default-color: #E4E724;
    --uaena-dark-color: #AEB01B;
}