:root {
    --gameMachine-bg-color: #7b00c8;

    --text-light-color: #000000;
    --text-dark-color: #ffffff;

    --uaena-default-color: #E4E724;
    --uaena-dark-color: #AEB01B;

    --button-color: #6500A6;
    --button-border-color: #330052;
    --button-text-color: #f6f6f6;
}
